*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
    font-family: 'Nunito', sans-serif;
}


body{
    background: #EDECEA;
}


/* ESTILIZAÇÃO PARA A PÁGINA INICIAL*/
.landing-page{
    display: flex;
}


header{
    background: #035D74;
    width: 100vw;
    height: 6rem;
    max-height: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

header a {
    color: #EDECEA;
    text-decoration: none;
    font-style: none;
}

header nav{
    justify-self: end;
    
}

header nav a{
    text-decoration: none;
    color: #EDECEA;
    font-weight: 700;
    margin-right: 3vw;
}

.hero-section{
    justify-self: center;
    background-color: #035D74;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    border-radius:12px;
    padding: 30px;
}

.hero-section img{
    width: 15vw;
    border-radius: 20px;
}

.main-text h2{
    margin-bottom: 2vh;
}

.main-text{
    margin-bottom: 3vh;
    color: #035D74;
    text-align: center;
    margin-top: 5vh;
    font-size: 2rem;
    max-width: 60vw;
    justify-self: center;
}


/* ESTILIZAÇÃO PARA A PÁGINA DOS PROFESSORES*/

#main-functions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
}

.image-with-buttons{
    background-color: #035D74;
    border-radius:12px;
    padding: 30px;
    max-width: 30vw;
    box-sizing: border-box;
}

.image-with-buttons img{
    width: 100%;
    height: 25vh;
    border-radius: 20px;
}

.image-with-buttons button{
    background: #EDECEA;
    border: none;
    display: block;
    margin-bottom: 3vh;
    height: 5vh;
    width: 100%;
    border-radius: 8px;
}

#list-of-subjects{
    background-color: #035D74;
    border-radius:12px;
    padding: 30px;
    max-width: 30vw;
    box-sizing: border-box;

}

#list-of-subjects h2{
    color:#EDECEA;
    text-align: center;
    font-size: 48px;
}

#list-of-subjects .subject{
    display: flex;
    background-color: #EDECEA;
    border-radius: 8px;
    gap: 10px;
}

#list-of-subjects .subject img{
    width: 100px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#list-of-subjects .subject-description{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 15px;
    row-gap: 5px;
    color: #035D74;
    font-weight: 600;
    align-self: center;
}




